@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #2C74B3;
    --primnaria-color: #2C74B3;
}


body{
    background-color: var(--bg-color);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 2em;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}
.box{
    border: 2px solid white;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}
